<div class="row">
  <div class="panel panel-default">
      <div class="col-xs-12 panel-heading">
        <div>
          <span class="title pad-left-right">Incomes</span>
          <span class="pull-right"  style="padding-top: 5px;">
            <a class="btn btn-success" [routerLink]="['new']">Add Income</a>
          </span>
        </div>
        <div class="col-xs-12">
          <span class="title income-color">{{ totalIncome | currency }}</span>
        </div>
      </div>

      <div class="panel-body">
          <div class="row">
              <div class="col-xs-12">
                  <app-income-item *ngFor="let income of incomes" [income]="income">
                  </app-income-item>
              </div>
          </div>
      </div>
  </div>
</div>
